################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/GraphicView/bin/Debug
/GraphicView/obj
/GraphicView/obj
/GraphicView/obj
